<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075464163928-24hf7hb08ogta8vl9deel6ov19dilgls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075464163928-24hf7hb08ogta8vl9deel6ov19dilgls</string>
	<key>API_KEY</key>
	<string>AIzaSyDVSuUmwOAkh3dR7ceWF2JBTxFB6UXzubM</string>
	<key>GCM_SENDER_ID</key>
	<string>1075464163928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoMaxWay</string>
	<key>PROJECT_ID</key>
	<string>fir-max-way</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-max-way.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075464163928:ios:ed37627df80ac573c8f02d</string>
</dict>
</plist>